.container {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.news, .create {
  display: flex;
  flex-direction: column;
}
.summarise {
  display: flex;
  gap: 1rem;
  border: 1px solid grey;
  margin: 1rem 0;
  padding: 0.5rem;
  border-radius: 0.25rem;
  align-items: center;
}